<div id="doc">
	<div id="authorname" class="content">
		<h1>Christoph Daseking</h1>
	</div>
	<div id="msg" class="content">
		<p> <a href="http://pqr-coding.com">P{Q}R</a> </p>
	</div>
	<div id="index-footer" class ="footer">
		<div id="index-footer-links" class="footer-links">
			<ul>
				<li><%= mail_to "cdas@habmalnefrage.de", "Mail"  %></li>
				<li><%= link_to("Facebook","http://www.facebook.com/christoph.daseking") %></li>
				<li><%= link_to "Twitter", "http://twitter.com/cdas31" %></li>
				<li><%= link_to "Xing", "http://www.xing.com/profiles/Christoph_Daseking" %></li>
			</ul> 	
		</div>
	</div>
</div>	